@charset "UTF-8";

.open .menuItem {
    display: block;
    position: fixed;
    padding-top: 5rem;
    top: 0;
    height: 100vh;
    width: 50%;
    opacity: .95;
    transition: .4s;
    border:none;
    text-align:left;
    background: whitesmoke;
}
.open .menuItem > li {
    border-left: 0px;
}
.open .menuItem li li {
    height: 50%;
    overflow: visible;
    transition: 0s;
    padding-left: 2rem;
}
.open .menuItem li li a {
    border-left: 1px solid #d8d5d5;
}
.open .menuItem li a {
    border-top: 1px solid #d8d5d5;
}
.lock {
    overflow: hidden;
}


@media all and ( max-width: 1200px ) {

    html {
        font-size: 20px;
    }

    body {
        min-width: 380px;
    }

    .bodyContainer {
        width: 90%;
    }

    .headerRight {
        text-align: right;
        padding-right: 1rem;
    }
    .menuItem {
        display: none;
    }
    .humberger,
    .humberger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }
    .humberger {
        position: relative;
        width: 50px;
        height: 44px;
        z-index:100;
    }
    .humberger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #384159;
        border-radius: 4px;
    }
    .humberger span:nth-of-type(1) {
        top: 0;
      }
    .humberger span:nth-of-type(2) {
        top: 20px;
    }
    .humberger span:nth-of-type(3) {
        bottom: 0;
    }

    .humberger.active span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(20px) rotate(-45deg);
    }
    .humberger.active span:nth-of-type(2) {
        opacity: 0;
    }
    .humberger.active span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-20px) rotate(45deg);
    }

}