@charset "UTF-8";

* {
	box-sizing: border-box;
	overflow: none;
}
html { font-size: 15px;}
.br-sp { display: none;}
body {
	margin :0 auto;
	padding :0;
	overflow :none;
	font-family: "Hiragino Kaku Gothic ProN", "MS PGothic";
	min-width :1200px;
	max-width :1800px;
	background-color :#212532;
}
li { list-style: none;}

header {
	height :5rem;
	left :0;
	margin :0;
	position :fixed;
	top :0;
	background-color :rgba(240 ,248 ,255, 0.7);
	width :100%;
	z-index :999;
}
.top-left {
	float:left;
	cursor: pointer;
}
.logo {
	height:4.9rem;
}
#under-frame {
	margin :0;
	_overflow :auto;
	padding :0;
}
.headBox {
	margin :0;
	padding-bottom :25px;
	width :100%;
	height :11rem;
	position :relative;
	top :0;
	border-bottom :solid 1px #7c7c7c;
	background-color: #384159;
}
.headBox h1 {
	margin :0;
	padding-top :6rem;
	color :#f4f4f4;
	font-size :2.3rem;
	font-weight: normal;
	text-align: center;
	letter-spacing: 5px;
	z-index :11;
}
.time-wrapp {
	margin :2rem auto 1rem auto;
	width :70%;
}
.time-wrapp p {
	margin-bottom: 0.5rem;
	font-size :1.4rem;
	text-align: center;
	letter-spacing: 1px;
	color: #f4f4f4;
}
.place, .time {
	width: 100%;
}
.indent {
	display: block;
	line-height: 2rem;
	margin: 2rem 0;
}
.section {
	background-color: #565865;
	line-height: 2.5rem;
	display: inline-block;
	padding: 0 1rem;
}

/*-- スライド --*/
#slide {
	margin :0 auto;
	padding-bottom: 1rem;
	position :relative;
	overflow :none;
	top:3rem;
	width:70%;
	height :auto;
}
#slide1 {
	display: none;
	margin: 0px;
	color: white;
}
#slide1.slick-initialized {
	display: block;
}

#slide1 li img {
	margin :0 auto;
	width :100%;
	height: auto;
}
.slide-arrow{
	position: absolute;
	top :50%;
	height: 40px;
	margin-top: -20px;  /* 高さの半分だけネガティブマージン */
	cursor: pointer;
	z-index: 10;  /* 重要 */
}
.prev-arrow{
	left: -50px;
}
.next-arrow {
	right: -50px;
}
/*-- タブ --*/
.content-wrapp {
	margin :5rem auto;
	padding: 0;
	width :70%;
}
.tab {
	cursor: pointer;
	overflow :hidden;
	padding: 0;
	margin :0 auto;
	text-align :center;
	height: 4rem;
	background: #f4f4f4;
}
.tab li {
	margin :0 auto;
	padding :0;
	line-height: 3rem;
	width :50%;
	vertical-align: middle;
	list-style-type :none;
	border: solid 0.8px #888;
	background: #212532;
	color :#888;
	display :inline-block;
	font-size :1.5rem;
	float :left;
}

.tab li.select {
	/*background: #bac2cf;*/
	border: solid 0.8px #ADCDEC;
	background: #ADCDEC;
	color :#384159;
	position: relative;
}
.select:after {
	position: absolute;
	content:'';
	border: 14px solid transparent;
	border-top: 14px solid #ADCDEC;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}


.content {
	top: 0;
	border-bottom: solid 1px #171915;
}
.hide {
	display: none;
}
.contents {
	margin: 0 auto;
	background: #f4f4f4;
	width: 100%;
	padding-bottom: 1rem;
	top: 0;
	text-align: center;
}

.content-title {
	font-size :1.4rem;
	font-weight: normal;
	padding: 1.5em 0 1rem 0;
	color: #414e72;
	text-decoration: underline;
}
.tunes {
	padding-bottom: 1rem;
}
.tunes p {
	font-size:1.3rem;
	padding: 0.5rem 0;
	color: #384159;
}
.tunes p span {
	font-size: 1rem;
	padding-left: 0.9rem;
}

.guest {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem;
}
.guest-text {
	margin-left: 1rem;
	flex-basis: 70%;
}
.guest-text h3 {
	font-weight: normal;
	font-size:1.2rem;
	padding: 1rem 0;
	color: #384159;
}
.guest-text h3 span {
	font-size: 0.9rem;
	padding-right: 1rem;
}
.guest-text p {
	font-size:1rem;
	text-align: left;
	text-indent: 1rem;
	padding: 0.2rem 0;
	color: #384159;
}
.guest-img {
	max-width: 30%;
	margin-right: 1rem;
}
.guest-img img {
	max-width: 90%;
	max-height: 280px;
}
.common {
	background: #f4f4f4;
	margin: 0 auto;
	padding-bottom: 3rem;
	text-align: center;
}
.common p {
	font-size:1rem;
	padding: 0.5rem 0;
	color: #384159;
}

/* Google Map */
.map-wrapp {
	width: 70%;
	background: #f4f4f4;
	margin: 0 auto;
}
.access {
	width: 100%;
	padding-bottom: 1rem;
	text-align: center;
	border-bottom: solid 1px #171915;
}
.access p {
	font-size:1rem;
	color: #384159;
}
.access a {
	display: inline-block;
	line-height:2rem;
	font-size: 1.3rem;
	color: #1111cc;
	margin-bottom: 1rem;
}
.access a span {
	padding-left: 0.2rem;
}
.attention p {
	font-size: 1.5rem;
	color: #ff4500;
	text-decoration: underline;
}
.map-wrapp iframe,
.map-wrapp object,
.map-wrapp embed {
	width: 100%;
	height: 30rem;
}

.inquiry-wrapp {
	margin: 2rem auto;
	padding: 0 0 2rem 0;
	text-align: center;
	background: #f4f4f4;
	width: 70%;
}
.inquiry-wrapp p {
	line-height: 1.5rem;
	font-size: 1rem;
	padding: 0.5rem 0;
	color: #384159;
}
.inquiry-wrapp p span{
	margin-left: 1rem;
	font-size: 0.8rem;

}
.tel {
	cursor: default;
	pointer-events: none;
	color: #1111cc;
	font-size: 1rem;
}
.tel img {
	height: 1rem;
}

footer {
	display: inline-block;
	margin: 5rem auto 0 auto;
	background-color :rgba(240 ,248 ,255, 0.7);
	height: 5rem;
	width: 100%;
}
footer p {
	padding: 0.3rem 0 0 1rem;
}